body {
    font-family: 'Encode Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #00113E;
    padding: 0px;
    border-bottom: 2px solid #fff;
}

nav a {
    font-family: 'Encode Sans', sans-serif;
    font-stretch: normal;
    color: #fff;
    text-decoration: none;
    margin: 0 60px;
    font-weight: bold;
}

nav a:hover {
    color: #E4CD83;
}

nav a img {
    align-items: center;
    width: 20px; 
}

a {
    align-items: center; 
    color: #000;
}

header img {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

h1 {
    text-align: center;
    color: #000; 
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
}

p {
    text-align: center;
}

.l_blue {
    color: #c2ced1;
}

#logo{
    display: flex;
    align-items: center;
    margin-right: auto;
    width: 200px;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    gap: 20px;

}

.nav-buttons {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.columns {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.column {
    flex: 1;
    margin: 0 10px;
}

.bg_img {
    position: relative;
}

.bg_img_txt {
    position: absolute;
    top: 20%;
    right: auto;
    padding-left: 175px;
    text-align: center;
    justify-content: center;
}

 #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #E4CD83;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #cfcfcf;
    color: white;
    border-radius: 10px;

}

.dropdown:hover .dropdown-content {
    display: block;
}

/****************************************************************************************/
 
.rectangles-container {
    justify-content: center;
    display: flex;
}

.rectangle {
    width: 40%;
    height: 500px; 
    background: linear-gradient(to bottom, #E4CD83, #FFFFFF) no-repeat;
    margin: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn_analyse {
    width: 50%;
    height: 20%;
    background-color: #FFF; 
    margin: 50px;
    border-radius: 100px; 
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_analyse > a:hover {
    color: #E4CD83;
}

/****************************************************************************************/

.search-bar {
    text-align: center;
    margin-top: 50px;
}

.search-bar input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

ul {
    color: white;
}

ul > li:hover {
    color: #E4CD83;
}

li > a {
    color: white;
}

ul > li >a:hover {
    color: #E4CD83;
}

.return {
    color: white;
    text-align: center;
}

.return:hover {
    color: #E4CD83;
}

/****************************************************************************************/

.search-bar2 {
    text-align: center;
    margin-top: -50%;
}

.search-bar2 input {
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

.rectangle2 {
    width: 30%;
    height: 600px; 
    background: linear-gradient(to bottom, #E4CD83, #FFFFFF) no-repeat;
    margin: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rectangle3 {
    width: 20%;
    height: 100px; 
    background: linear-gradient(to bottom, #888888, #CACACA) no-repeat;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rectangle3 > a:hover {
    color: #E4CD83;
}

.nav-links2 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: #586B8C;
}

.nav-buttons2 > a{
    display: flex;
    padding: 15px;
}

.nav-buttons2 > a:hover {
    color: #E4CD83;
}

.search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto; /* Ajoutez un défilement si le contenu dépasse */
}

.search-results-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Créez une grille avec des colonnes automatiques */
    gap: 10px;
    justify-content: center;
}

.search-result-image {
    width: 100%; /* La largeur de l'image prend toute la largeur de la colonne dans la grille */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.search-result-image:hover {
    transform: scale(1.1);
}

/****************************************************************************************/

#movie-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

#movie-poster {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: black;

}

#separator {
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 20px 0;
}

#centered-image {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    height: auto;
    margin-top: 20px;
}

.text_left{
    text-align: left;
}
